/* Footer CSS */

footer {
    background-color: rgb(9, 9, 9);
    flex-direction: column;

    height: 60px;
}

footer h2 {
    font-weight: 800;
    
    font-size: 20px;
    line-height: 20px;
}

footer h3 {
    font-weight: 400;
    letter-spacing: 1.2px;

    font-size: 16px;
    margin-top: 3px; 
}